<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="layout :: site-head">
    <title id="pageTitle">Table</title>
    <style>
        .disabled {
            pointer-events: none;
            opacity: 0.5;
        }

        .pointer-disabled {
            pointer-events: none;
        }
    </style>
</head>

<body>
<header th:replace="layout::site-header"/>
<!-- START PAGE CONTAINER -->
<div class="container-fluid">
    <!-- START PAGE SIDEBAR -->
    <!-- commented out     <div th:replace="fragments/header :: header"> </div> -->
    <!-- END PAGE SIDEBAR -->
    <!-- PAGE TITLE -->
    <div class="page-title">
        <h2>
            <span class="fa fa-arrow-circle-o-left"></span> Probability Table
        </h2>
    </div>
    <!-- END PAGE TITLE -->
    <a th:href="@{/inputDraw}"
       class="btn btn-primary btn-sm mr-5 mb-3">
        Manually Add Draw
    </a>
    <div class="row">
        <table id="t2" class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Drawn Ball</th>
                <th>whiteBall Probability</th>
                <th style="color: red">RedBall Probability</th>
            </tr>
            </thead>
            <tbody>
            <tr id="tr2" th:each="balls : ${ballFrequencies}">
                <td style="font-style: italic" th:text="${balls.id + ' ->'}">ID</td>
                <td th:text="${balls.whiteBallFrequency + ' / ' + totalWhiteValue}">White Ball Frequency</td>
                <td th:if="${balls.redBallFrequency != 'N/A'}" th:text="${balls.redBallFrequency + ' / ' + totalRedValue }">>Red Ball Frequency</td>

            </tr>
            </tbody>
        </table>
        <nav th:if="${ballFrequencies.totalPages > 0}" class="form-group"
             th:each="pageNumber : ${pageNumbers}" style="margin-left: 10px">
            <a th:href="@{/probability(size=${ballFrequencies.size}, page=${pageNumber})}"
               th:text="${pageNumber}"
               th:class="${pageNumber==ballFrequencies.number+ 1} ? active"></a>
        </nav>
    </div>
    <!-- END PAGE CONTENT -->
    <!-- END PAGE CONTAINER -->
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        changePageAndSize();
    });

    function changePageAndSize() {
        $('#pageSizeSelect').change(function(evt) {
            window.location.replace("/probability/?pageSize=" + this.value + "&page=1");
        });
    }
    /*]]>*/
</script>
<footer th:replace="layout::site-footer"/>
</body>
</html>